@CHARSET "ISO-8859-1";

html {
	height: 100%;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#591e99+0,4f1e99+16,3428d6+37,7223e0+63,8a7be5+100 */
	background: #591e99; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #591e99 0%, #4f1e99 16%, #3428d6 37%, #7223e0 63%, #8a7be5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #591e99 0%,#4f1e99 16%,#3428d6 37%,#7223e0 63%,#8a7be5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #591e99 0%,#4f1e99 16%,#3428d6 37%,#7223e0 63%,#8a7be5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#591e99', endColorstr='#8a7be5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
}

body {
	color: #fff;
	text-shadow: 0 0 5px rgb(216, 216, 255);
	/* background-color: rgb(166, 166, 255); */
	overflow: auto;
	padding: 48px 16px 0 16px;
	margin: 0;
	font-family: Tahoma, Geneva, sans-serif;
}

h1.banner {
	font-family: Impact, Charcoal, sans-serif;
	font-weight: lighter;
	position: fixed;
	top: 4px;
	right: 16px;
	margin-top: 0px;
}

nav.top-nav {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 48px;
	padding: 11px 8px 8px 16px;
	box-sizing: border-box;
	background-color: rgb(136, 136, 225);
	box-shadow: 0 3px 5px #551A8B;
}

nav.top-nav>a {
	color: #551A8B;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	margin-right: 8px;
	text-decoration: none;
}

nav.top-nav>a:hover {
	text-decoration: underline;
}

.errText {
	font-weight: bold;
	color: red;
}

.inner-modal-div {
	display: block;
	/* text-align: center;
	vertical-align: middle;
	margin: auto; */
	position: absolute;
	top: 50%;
	left: 50%;
	height: 500px;
	min-height: 300px;
	width: 500px;
	min-width: 500px;
	margin: -250px 0 0 -250px;
	z-index: 10;
	background-color: #31008C;
	border-radius: 8px;
	box-shadow: 0 0 5px 0 rgb(1, 39, 169);
	padding: 16px;
	box-sizing: border-box;
	overflow: auto;
	box-sizing: border-box;
}

.inner-modal-div>h3 {
	text-align: center;
}

.inner-modal-div>h3,form,table {
	width: 80%;
	margin-left: 10%;
}

.hidden-modal-div {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	overflow: auto;
	z-index: 9;
	background-color: rgba(255, 255, 255, 0.5);
}

p.x-btn {
	position: absolute;
	/* 	top: -8px; */
	right: 16px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0px 4px;
	margin: 0px;
	font-size: 16px;
	box-sizing: border-box;
	color: #333;
	border: 1px #333 solid;
	border-radius: 12px;
	cursor: pointer;
	background-color: #eeeeee;
}

p.x-btn:hover {
	box-shadow: 0 0 5px 2px #999;
}

.infoText {
	font-weight: bold;
	font-style: italic;
}

div.footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0);
	//
	Fully
	transparent
}